<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Flask Chatterbot Example</h1>
<div>
    <p class="topText"><span>Practice conversation 15 minutes a day to keep up your language!</span></p>
<div class="btn-group">
  <button id="englishButton">English</button>
  <button id="frenchButton">French</button>
  <button id="spanishButton">Spanish</button>
</div>
<div id="chatbox">
<p class="botText"><span>Hi! I'm Jean Claude.</span></p>
</div>
<div id="userInput">
<input id="textInput" type="text" name="msg" placeholder="Message">
<input id="buttonInput" type="submit" value="Send">
</div>
<script>
function getBotResponse() {
var rawText = $("#textInput").val();
var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
$("#textInput").val("");
$("#chatbox").append(userHtml);
document.getElementById('userInput').scrollIntoView({block: 'nearest', behavior: 'smooth'});
$.get("/get", { msg: rawText }).done(function(data) {
var botHtml = '<p class="botText"><span>' + data + '</span></p>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block: 'nearest', behavior: 'smooth'});
var chatbox = document.getElementById('chatbox');
chatbox.scrollTop = chatbox.scrollHeight;
});
}


function setEnglishBot() {
$.get("/setenglish", {}).done(function(data) {
var newHTML = '<p class="botText"><span>' + data + '</span></p>';
$("#chatbox").html(newHTML);
console.log(data);
});
}
function setFrenchBot() {
$.get("/setfrench", {}).done(function(data) {
var newHTML = '<p class="botText"><span>' + data + '</span></p>';
$("#chatbox").html(newHTML);
console.log(data)
});
}

function setSpanishBot() {
$.get("/setspanish", {}).done(function(data) {
var newHTML = '<p class="botText"><span>' + data + '</span></p>';
$("#chatbox").html(newHTML);
console.log(data)
});
}

$("#textInput").keypress(function(e) {
if(e.which == 13) {
getBotResponse();
}
});
$("#buttonInput").click(function() {
getBotResponse();
})

$("#englishButton").click(function() {
setEnglishBot();
})

$("#frenchButton").click(function() {
setFrenchBot();
})

$("#spanishButton").click(function() {
setSpanishBot();
})
</script>
</div>
</body>
